@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");



ul {
    
    list-style: none;
}

ul li {
    display: inline-block;
    margin-right: 20px;

}

a {
   display: inline-block;
   background-color: rgb(194, 198, 202);
   border-radius: 50%;
   width: 70px;
   height: 70px;
   position: relative;
}
i {
    color: rgb(58, 58, 58);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);  
}

.fa-facebook-square:hover {
    color: blue;
}
.fa-twitter:hover, .fa-linkedin:hover {
    color: lightseagreen;
}
.fa-google-plus:hover {
    color: red;
}

.fa-instagram:hover {
    color: rgb(158, 152, 152);
}
