body {
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15%;

}

.card {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    width: 25%;
    box-sizing: content-box;
    box-shadow: 2px 2px 5px 2px black;
}

p {
    width: 100%;
    
}
