body {
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
}


section {
    display: flex;
    flex-basis: 50%;
    gap: 2%;
    height: 25%;
}

img {
    object-fit: cover;
    flex: 1 1 50px;
    background-color: black;
    min-width: 20px;
    max-width: 25%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgb(112, 109, 109);;
}

section :nth-child(2) {
    min-width: 45%;
}